@font-face{
    font-family: headersFont;
    src : url(STJEDISE.TTF);
}
* {
    font-family : headersFont;
}

body{
    background-color: #006cb2;
    color: #b7ddf1;
}
.main-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1em solid;
    border-radius: 2rem;
    border-color: #b7ddf1;
}
.new-task{
    background-color: #006cb2;
    border: 1em solid;
    border-color: #b7ddf1;
    border-radius: 1em;
    text-align: center;
    color: #b7ddf1;
    
}
::placeholder{
    color:#b7ddf1;
}
/* li.delete-button{
    background-image: url("/icons/001-cancel.png");
} */
h1{
    font-size: 2rem;
}
h2{
    font-size: 1rem;
}
li{
    font-size: 2rem;
}



.delete-button {
    position: relative;
    left: 1.5rem;
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 1.5rem;
    -moz-border-radius: 1.5rem;
    border-radius: 1.5rem;
    color: #ffffff;
    font-size: 1rem;
    padding: 0.5rem 1rem 0.5rem 1rem;
    text-decoration: none;
  }
  
  .delete-button:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }
  
  
#addTask {
    -webkit-border-radius: 15;
    -moz-border-radius: 15;
    border-radius: 15px;
    color: #ffffff;
    font-size: 27px;
    background: #3498db;
    padding: 8px 20px 10px 20px;
    text-decoration: none;
  }
  
  #addTask:hover {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
  }

